.header {
    top:0;
    left: 0;
    width: 100%;
    padding: 20px 5%;
    background: #B3D8A8;
    
    /* makes all the text align right for the nav bar */
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

.logo {
    margin-top: 0.5%;
    font-size: 32px;
    /* 554640 */
    color: #3D8D7A; 
    font-weight: 700;
    background: #B3D8A8;
    
}
/* getting rid of spaces between page buttons */
.navbar {
    background: #B3D8A8;
}

.navbar a{
    position: relative;
    font-size: 24px;
    color:#3D8D7A;
    font-weight: 500;
    margin-left: 40px;
    background-color: #B3D8A8;
}

.navbar a::before {
    content: '';
    position: absolute;
    top: 100%;
    left: 0;
    width: 0;
    height: 2px;
    background:#3D8D7A;
    transition: .3s;
}

.navbar a:hover::before {
    width: 100%;

}