@import "tailwindcss";

/* For navbar links before */
.navbar a::before {
    content: '';
    position: absolute;
    top: 100%;
    left: 0;
    width: 0;
    height: 2px;
    background: #3D8D7A;
    transition: width 0.3s ease;
}

/* On hover, expand the underline */
.navbar a:hover::before {
    width: 100%;
}
