/* css for the entire page */
.contactBody {

    padding-top: 90px;
    padding-left: 2%;
    width: 100%;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    text-align: center;
    height: 100vh; 
}

/* css for the blurb before the links */
.contactBody p {
    font-size: 20px;
}

/* css to for the images  */
.contactLogos {
    display: flex;
    justify-content: center; 
    align-items: center; 
    gap: 20px; 
    margin-top: 20px; 
}

/* css to resize each images */
.contactLogos img{
    width: 128px;
    height:128px;
    object-fit: contain;
  }

