* {
    color: #14315a;
    z-index: 0;
}

.page_body {
    width: 100%;
    height: 80vh;
    display: flex;
    flex-direction: column;
    color: #14315a;
    text-align: left;
    color: #34252F;
    transition: 2s;
    z-index: 20;
    background-color: #c0d6f7;

  }
  
.content {

    padding-left: 50px;
    width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    line-height: normal;
    z-index: 20;
    background-color: rgba(255, 255, 255, 0); 
}
  
  
.span {
    padding-left: 20px;
    display: inline-block;
    vertical-align: middle;
    line-height: normal;
    
    
}

/* Text/Content Formatting */
.welcome {    
    font-size: 60px;
    background-color: rgba(255, 255, 255, 0); 
    
}

.intro {
    font-size: 50px;
    background-color: rgba(255, 255, 255, 0); 


}

.message {
    font-size: 30px;
    transition: 4s;
    align-items: center;
    display: flex;
    background-color: rgba(255, 255, 255, 0); 


}
.message:hover {
    width: fit-content;
    font-size: 35px;
    color:#DB504A;
    animation-duration: 0.5s;
    cursor: pointer;
    
}

.footnote {
    padding-left: 20px;
    margin-top: auto;
    padding-top: 10px;
}

.footnote h3{
    font-style: italic;
    font-size: 20px;

}

/* Background CSS */

.sun {
    position:absolute;
    bottom: 400px;
    left: 1250px;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    background-color: #f5854f;
}


/*  created hills using shapedivider.app
    original shape divider code: 1746363830     */


.hill {
    position: absolute;
    bottom: 0px;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
    z-index: 1;
}

.hill svg {
    position: relative;
    display: block;
    width: calc(164% + 1.3px);
    height: 250px;
    z-index: 1;

}

.hill .shape-fill {
    fill: #6f9581;
    z-index: 1;

}

.filler {
    position:absolute;
    bottom: 0px;
    left: 0px;
    width: 100%;
    height: 150px;
    background-color: #c0d6f7;
}