.page_body {
    padding-top: 90px;
    padding-left: 2%;
    width: 100%;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    text-align: left;
}
.project_content_block {
    
}
.project_header {

}
.project_subtitle {

}
.project_content_body {

}
.project_link {

}